# This is a basic workflow to help you get started with Actions

name: ZeroTierOneGUI Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install qt enviroment
      - name: Install Qt
      # You may pin to the exact commit or the version.
        uses: jurplel/install-qt-action@v2.9.0
      #  with:
      #    # Additional Qt modules to install
      #    modules: # optional
    

      - name: Configure
        run: $Qt5_DIR/bin/qmake CONFIG+=release
            
      - name: build
        run: make
